In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import regex as re
import misfunciones as mf

In [2]:
#cargamos csv
sharks = pd.read_csv("data/attacks.csv",encoding = "ISO-8859-1")

In [3]:
sharks.sample(100)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6795,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16737,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8428,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1532,2005.11.02.a,02-Nov-2005,2005.0,Unprovoked,USA,California,"Ocean Beach, San Francisco, San Francisco County",Surfing,Jake Daneman,M,...,12' to 14' white shark,"R. Collier, GSAF",2005.11.02.a-Daneman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2005.11.02.a,2005.11.02.a,4771.0,NaN,NaN
13141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14662,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2244,1997.07.14,14-Jul-1997,1997.0,Unprovoked,USA,South Carolina,"Myrtle Beach, Horry County",Standing,Flint Cowden,M,...,Blacktip shark,"Charlotte Observer, 7/17/1997, p.2C; C. Creswe...",1997.07.14-Cowden.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1997.07.14,1997.07.14,4059.0,NaN,NaN

In [4]:
#eliminamos todas las columnas y filas que todos sus valores sean nulos
sharks.dropna(how="all", inplace=True)
sharks.dropna(how="all",axis = 1, inplace=True)

# Hipótesis
- hipotesis 1 los ataques de tiburones han icrmentado según han ido avanzando los años
- hipótesis 2 los ataquesde tiburones atacan más a embarcaciones que a nadadores
- [hipóstesis 3 Florida es la capital mundial de los ataques de tiburones](https://www.lavanguardia.com/ocio/viajes/20210407/6631447/6-playas-mas-peligrosas-mundo.html)
- [hipótesis 4 ¿Es posible el ataque de tiburón en la costa española?](https://www.mundo-geo.es/naturaleza/es-posible-ataque-tiburon-en-costa-espanola_238643_102.html)

In [5]:
#compruebo qué colmunas tienen datos interesantes para mis hipótesis y borro las que no me hacen ninguna falta.
sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [6]:
columnas_no = ['Case Number','Investigator or Source','pdf', 'href formula',  'href',  'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22', 'Unnamed: 23'] 
sharks.drop(columnas_no, axis=1, inplace=True)

In [7]:
sharks.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species '],
      dtype='object')

In [8]:
#ahora que hemos borrado columnas vemos si quedan filas que son nan por completo y borrranos
sharks.dropna(how="all", inplace=True)

In [9]:
#cambio nombre de algunas columnas que tienen espacios o caracteres especiales en el nombre
#"Sex " "Species " "Fatal (Y/N)"
cols = ["Sex ","Species ","Fatal (Y/N)"]
new_names = {"Sex " : "Sex",
                 "Species " : "Species",
                 "Fatal (Y/N)" : "Fatal"}
sharks.rename(columns = new_names, inplace=True)
sharks.columns

Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species'],
      dtype='object')

In [10]:
#segundo repaso a datos para ver si borramos alguna columna más que no me de información necesaria para las hipótesis
sharks.sample(20)
sharks.drop(["Name"],axis=1, inplace=True)

### Limpieza de datos nulos

In [11]:
#miramos cuantos datos nulos hay en cda columna.
sharks.isna().sum()

Date           0
Year           2
Type           4
Country       50
Area         455
Location     540
Activity     544
Sex          565
Age         2831
Injury        28
Fatal        539
Time        3354
Species     2838
dtype: int64

#### rellenamos los nulos en función de los datos que contienen las columnas

In [12]:
sharks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      6302 non-null   object
 1   Year      6300 non-null   float64
 2   Type      6298 non-null   object
 3   Country   6252 non-null   object
 4   Area      5847 non-null   object
 5   Location  5762 non-null   object
 6   Activity  5758 non-null   object
 7   Sex       5737 non-null   object
 8   Age       3471 non-null   object
 9   Injury    6274 non-null   object
 10  Fatal     5763 non-null   object
 11  Time      2948 non-null   object
 12  Species   3464 non-null   object
dtypes: float64(1), object(12)
memory usage: 689.3+ KB

In [13]:
#Year
sharks.Year.unique()
#rellenamos años vacíos con 0
sharks.Year.fillna(0.0,inplace= True)
#convertirmos tipo de dato (float) a int.
sharks.Year = sharks.Year.astype(dtype = "int64")

In [14]:
#type
sharks.Type.unique() #['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable','Sea Disaster', nan, 'Boat', 'Boatomg']
sharks[sharks["Type"] == "Invalid"].sample(20)
#invalid NO nos sirve para los nulos porque es para ataques que no fueron de tiburón
#mirar a ver si podemos eliminar esas filas porque queremos estudiar solo los casos reales de tiburones.
#nos da mucha información si el ataque fue en embarcación o direcgtamente a "nadador"
sharks.Type.fillna("UNKNOWN",inplace= True)

In [15]:
#Country, Area y Location -> nans == UNKNOWN
sharks["Country"].fillna("UNKNOWN", inplace = True)
sharks["Area"].fillna("UNKNOWN", inplace = True)
sharks["Location"].fillna("UNKNOWN", inplace = True)

In [16]:
#activity
list(sharks.Activity.unique())
#unknown
#de esta columna podemos sacar datos sobre si el tiburón atacó a embarcación o persona.
sharks["Activity"].fillna("UNKNOWN", inplace = True)

In [17]:
#sex
sharks.Sex.unique()
#si el sexo de la víctima es desconocido lo rellenamos con "X"
#además queremos que se queden tres datos únicos -> M,F,X
sharks.Sex.fillna("X",inplace = True)
sharks.Sex = sharks.Sex.str.strip() #borramos espacios vacíos antes y después de cada cadena.
sharks.Sex.unique() #['F', 'M', 'X', 'lli', 'N', '.'] > lli, N y . == X
sharks["Sex"].replace('lli',"X",inplace=True)
sharks["Sex"].replace('.',"X",inplace=True)
sharks["Sex"].replace('N',"X",inplace=True)

In [18]:
#Age
sharks.Age.unique()
#rellenamos nans con "UNKNOWN" porque 0 puede confundir la media si luego necesitamos usarla.
sharks.Age.fillna("UNKNOWN",inplace= True)
#quitamos espacios antes y detrás de los strings
sharks.Age = sharks.Age.str.strip()
#convertirmos a número todas las cadenas que sean dígitos
sharks.Age = sharks.Age.apply(mf.entero_if)
#queda pendiente limpiar datos que son cadena y no enteros.
    #posiblidad = nueva columnas con rangos de edad y y poner datos como los strings que ya están.

In [19]:
#Injury > nan = UNKNOWN
sharks.Injury.unique()
sharks["Injury"].fillna("UNKNOWN", inplace = True)

In [20]:
#Fatal
sharks.Fatal.unique
#nulos = UNKNOWN
sharks["Fatal"].fillna("UNKNOWN", inplace = True)
sharks.Fatal = sharks.Fatal.str.strip()
sharks.Fatal.unique() #comprobar registros con FAtal == 'M', '2017', 'y'
sharks[(sharks["Fatal"] == 'M')|(sharks["Fatal"] == "2017")|(sharks["Fatal"] == "y")].Injury.unique
sharks["Fatal"].replace('M',"N",inplace=True)
sharks["Fatal"].replace('y',"Y",inplace=True)
sharks["Fatal"].replace('2017',"N",inplace=True)
sharks.Fatal.unique() #['N', 'Y', 'UNKNOWN']

array(['N', 'Y', 'UNKNOWN'], dtype=object)

In [21]:
#Time
sharks.Time.unique()
#nulos = UNKNOWN
sharks["Time"].fillna("UNKNOWN", inplace = True)
#puede que esta columna no la utlicemos para ningún análisis. No nos interesan los datos tan exactos de la hora del ataque.

In [22]:
#Species
list(sharks.Species.unique())
sharks["Species"].fillna("UNKNOWN", inplace = True)

In [23]:
sharks.isna().sum()

Date        0
Year        0
Type        0
Country     0
Area        0
Location    0
Activity    0
Sex         0
Age         0
Injury      0
Fatal       0
Time        0
Species     0
dtype: int64

#### precesamos el texto de las columnas

##### Date, Year.

In [24]:
sharks.Date.value_counts()
#de la columna Date extraemos solo las fechas
sharks["Year_D"] = sharks["Date"].str.extract(r'(\d{4})')
sharks["Month_D"] = sharks["Date"].str.extract(r'([A-Z][a-z][a-z]-\d{4})')
sharks["Month_D"] = sharks["Month_D"].str.extract(r'([A-Z][a-z][a-z])')
#volvemos a rellenar los nulos que quedan 
#sharks["Date"].fillna("UNKNOWN", inplace = True)

In [25]:
sharks.Year_D.unique() #los registros de esta columna parecen más concretos que la de Year
#rellenamos nans de esta columna y tanbién de la columna Month. elimnamos Year.
sharks.Year_D.fillna("UNKNOWN",inplace= True)
sharks.Month_D.fillna("UNKNOWN",inplace= True)
#convertimos los strings a enteros
sharks.Year_D = sharks.Year_D.apply(mf.entero_if)

In [26]:
# miramos los registros cuyo tipo es Invalid para ver si nos sirven o no... 
sharks[(sharks.Type == "Invalid")].sample(50)
# muchos de los registros confirman que no son ataques de tiburón, otros son ataques de tiburón muy dudosos. 
# nos deshacemos de los registros que tengan typo = "INVALID"

sharks = sharks[(sharks.Type != "Invalid")]

In [27]:
#como tenemos unos datos más coherentes con month_D y Year_D borramos Date y year
sharks.drop(["Date","Year"],axis=1, inplace=True)

##### Type

In [28]:
sharks.Type.unique()

array(['Boating', 'Unprovoked', 'Provoked', 'Questionable',
       'Sea Disaster', 'UNKNOWN', 'Boat', 'Boatomg'], dtype=object)

In [29]:
sharks[(sharks["Type"] == "Boating")|(sharks["Type"] == "Boatomg")|(sharks["Type"] == "Boat")].sample(50) #son el mismo tipo
#cambiamos todos a "Boat"
sharks["Type"] = sharks["Type"].str.replace((".*[Bb](OAT|oat).*"),"Boat", regex=True)
sharks.Type.unique()

array(['Boat', 'Unprovoked', 'Provoked', 'Questionable', 'Sea Disaster',
       'UNKNOWN'], dtype=object)

In [30]:
#sharks[["Type","Activity","Injury"]][(sharks.Type != "Boat")&(sharks.Activity.str.contains(".*[Ff](ishin|ISHIN).*",regex = True))].sample(50)
#sharks[["Type","Activity","Injury"]][(sharks.Type != "Boat")&(sharks.Injury.str.contains(".*[Oo](c+upan|C+UPAN).*",regex = True))]
#sharks[["Type","Activity","Injury"]][((sharks.Type != "Boat")&(sharks.Injury.str.contains(".*[Oo](c+upan|C+UPAN).*",regex = True)))|(sharks.Injury.str.contains(".*[Oo](c+upan|C+UPAN).*",regex = False))]

In [31]:
#comprobamos los datos de las columnas Type, Activity e Injury que son las que más datos nos dan de si el tiburón ataca botes
sharks[["Type","Activity","Injury"]]
#ponemos filtro a Type para que sea diferente de Boat y así ver si quedan datos que aporten ataques a embarcaciones
sharks[["Type","Activity","Injury"]][(sharks.Type != "Boat")].sample(50)
#algunos registros dicen en Injury = "No injury to ocuppant(s)" por lo que podemos deducir que se atacó embarcación:
sharks[["Type","Activity","Injury"]][(sharks.Type != "Boat")&(sharks.Injury.str.contains(".*[Oo](c+upan|C+UPAN).*",regex = True))]
#algunos registros de Activity parece ser que ocurrieron en embarcaciones en las que se estaba pescando -> Ataque embarcación.
sharks[["Type","Activity","Injury"]][(sharks.Type != "Boat")&(sharks.Activity.str.contains("(\s|^)[Ff](ishing|ISHING).*",regex = True))].sample(10)

<ipython-input-31-14e1ba21cf7c>:6: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  sharks[["Type","Activity","Injury"]][(sharks.Type != "Boat")&(sharks.Injury.str.contains(".*[Oo](c+upan|C+UPAN).*",regex = True))]
<ipython-input-31-14e1ba21cf7c>:8: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  sharks[["Type","Activity","Injury"]][(sharks.Type != "Boat")&(sharks.Activity.str.contains("(\s|^)[Ff](ishing|ISHING).*",regex = True))].sample(10)

,Type,Activity,Injury
5398,Provoked,Fishing,Right hand severely bitten by netted shark PRO...
5864,Unprovoked,Fishing,FATAL
1094,Provoked,Fishing,Injuries to face & neck PROVOKED INCIDENT
3463,Unprovoked,Dynamite fishing,Lacerations to head
3984,Provoked,Fishing,Right arm bitten by shark taken onboard in net...
3087,Provoked,Shark fishing,No injury to occupants; hooked shark tore out ...
3917,Provoked,Fishing,Landed shark in boat bit his left leg PROVOKE...
1421,Unprovoked,Fishing,Lower right leg and foot bitten
4048,Provoked,Shark fishing,"No injury to occupant, hull bitten PROVOKED IN..."
2754,Provoked,Fishing,Hand bitten by captured shark PROVOKED INCIDENT

In [32]:
#reemplazamos datos en Activity para hacerlos más concisos.
list(sharks.Activity.unique())
sharks.Activity = sharks.Activity.str.strip()

In [33]:
len(list(sharks.Activity.unique()))

1392

In [34]:
list(sharks.Activity.unique())
#("(\s|^)[Ff](ishing|ISHING).*",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Ss](URF|urf).*","Surf and similars",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Bb](oog|OOG).*","Surf and similars",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Kk](ITE|ite).*","Surf and similars",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Bb](ody|ODY).*[Bb](OARD|oard).*","Surf and similars",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*([Dd](ivin|IVIN)|[Dd](ive|IVE)).*","Diving and similars",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Ss](wim+|WIM+).*","Swimming and similars",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Jj](ump|UMP).*","Swimming and similars",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Pp](ad+|AD+).*","Paddling and similars",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Ss](NORK|nork).*","Snorkeling and similars",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Ff](E+DIN|e+din).*","Feeding animals and similars",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Sp](EAR|ear).*","Using spears",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Kk](ayak|AYAK).*","Kayaking and similars",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Cc](anoe|ANOE).*","Canoeing and similars",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Bb](ATH|ath).*","Swimming and similars",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Ff](LOAT|loat).*","Swimming and similars",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Ss](ki|KI).*","Skiing and similars",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Pp](LAY|lay).*","Playing and similars",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Kk](ILL|ill).*","Fishing and similars",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*([Cc](apsi|APSI)|[Ss](ink|INK)).*","Capsized, sinked",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Ww](reck|RECK).*","Shipwreck",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Dd](eep|EEP).*","Diving and similars",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Ff](ilm|ILM).*","Filming or photographing",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Pp](HOT|hot).*","Filming or photographing",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Ss](elfi|ELFI).*","Filming or photographing",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Rr](OW|ow).*","Rowing and similars",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*([Ss](TAND|tand)|[Ss](itt|ITT)).*","Standing/Sitting",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Ss](ail|AIL).*","sailing and similars",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Ww](ash|ASH).*","washing",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Ww](adin|ADIN).*","wading",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Dd](isast|ISAST).*","Air/Sea Disaster",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Aa](irc|IRC).*","Air/Sea Disaster",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Rr](ESCU|escu).*","Rescuing and similars",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Aa](DRIFT|drift).*","Adrift",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Oo](VERBO|verbo).*","Fell/swept overboard",regex = True)
#overboard 


sharks["Activity"] = sharks["Activity"].str.replace(".*[Ff](ish|ISH).*","Fishing and similars",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Ff](inn|INN).*","Fishing and similars",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Hh](UNT|unt).*","Fishing and similars",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Ss](hrim|HRIM).*","Fishing and similars",regex = True)
sharks["Activity"] = sharks["Activity"].str.replace(".*[Ll](OBST|obst).*","Fishing and similars",regex = True)
#'Lobstering'

In [35]:
list(sharks.Activity.unique())

['Paddling and similars',
 'Standing/Sitting',
 'Surf and similars',
 'Diving and similars',
 'Swimming and similars',
 'Fishing and similars',
 'Walking',
 'Feeding animals and similars',
 'wading',
 'Kayaking and similars',
 'Snorkeling and similars',
 'UNKNOWN',
 'Using spears',
 'Capsized, sinked',
 'Canoeing and similars',
 'SUP',
 'Skiing and similars',
 'Touching a shark',
 'Attempting to lasso a shark',
 'Kakaying',
 'washing',
 'Filming or photographing',
 'Tagging sharks',
 'SUP Foil boarding',
 'Teasing a shark',
 'Air/Sea Disaster',
 'Playing and similars',
 'Rescuing and similars',
 'Rowing and similars',
 'Petting a shark',
 'Kneeling in the water',
 'Fell into the water',
 'Shark watching',
 'sailing and similars',
 'Casting a net',
 'Wrangling a shark',
 'Attempting to free the shark',
 'Wakeboarding',
 'Attempting to fix motor',
 'Measuring sharks',
 'Yacht race',
 'Treading water',
 "Accidentally stood on hooked shark's tail before attempting to gut it",
 'Attempting to chase shark out to sea',
 'Removing hook from shark',
 'Reviving a sedated shark',
 'Shark tagging',
 'Murder',
 'Lifesaving drill',
 'Touching sharks',
 'Removing shark from net',
 'Holding onto an inflatable boat',
 "Crouching in 2' of water",
 'Chumming for white sharks',
 'Petting captive sharks',
 'Attempting to retreive a dinghy',
 'Collecting beche-de-mer',
 'Walking in shallows',
 'Fell off banana boat',
 'Batin',
 'Fell onto dead shark',
 'Conducting research',
 "Lying prone in 2' of water",
 'Adrift',
 "Scientific research (Dr. Sonny Gruber's student)",
 'Cruising',
 'Inflatable boat',
 'Splashing',
 'Moving a shark in a net',
 'Towing rubber dinghy',
 'Watching seals',
 'Attempting to attract dolphins',
 'Boeing 757 enroute from Porta Plata plunged into the sea',
 'Chumming for sharks',
 '"Riding waves on a board"',
 'Sleeping in anchored boat',
 'Removing shark from tank in nightclub',
 'Stamding',
 '',
 'The MV Dona Marilyn sank in Typhoon Unsang with the loss of 389 lives',
 'pêcheur de bichiques',
 "Attempting to lasso shark's tail",
 'Returning to shore, collided with shark',
 'Ferry boat Dona Paz with 4431 passengers exploded & caught fire when she collided with an  oil tanker',
 'Dropping anchor',
 'The inter-island ferry Vula sank in heavy weather',
 'Boat',
 'NSB Meshing',
 'Investigating shark sighting',
 'Steinhart Aquarium',
 'Ferry boat sank',
 'Ran into the water',
 'Inspecting teeth of supposedly dead (hooked & shot) shark',
 'Catching sardines',
 'Foundering of the Israeli freighter Mezada',
 'Exercising his dog in the shallows',
 'Gaffing netted shark',
 'Murdered by Thai pirates',
 "Explosion destroyed 28' boat, survivors in the water",
 'Their 9 m launch was run down by a 25,000-ton Japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days',
 'Thrashing the water / imitating the shark victim from "Jaws"',
 'Shipwreck',
 '3,909-ton Panamanian freighter Chieh Lee sank in a typhoon',
 'Attempting to drive shark away from the beach',
 'Attempting to drag hooked shark ashore by its tail',
 'Attempted to return injured shark to the sea',
 'Sight-seeing',
 'Leaving the water',
 'Clamming',
 'Picking up shark by the tail',
 'Pulling shark from the water',
 'Beach seine netting',
 'Attacked shark with fists',
 'Helping men land a shark',
 'Colombian  (Avianca) DC-4 airliner plunged into the sea 5 minutes after takeoff',
 'Fell/swept overboard',
 'Hauling dead shark aboard, when another shark leapt out of the water & bit him',
 'The boat Caribou II sank',
 'Attempting to anesthetize shark',
 'Walking on reef',
 'Dangling feet in the water',
 'Collecting marine specimens',
 'Lying in 2 feet of water',
 'Helping friend land hooked shark',
 'Catching sharks under government contract',
 'Testing anti-shark cage',
 'The 500-ton coastal trader Polurrian foundered',
 'Abandoning burning ship Captain George in raging seas',
 'Rolled off raft',
 'Escaping from Alacatraz',
 '25-foot cabin cruiser Happy Jack sank in heavy seas',
 'Gathering shells',
 'Cargo ship Dara sank after collision with another ship during a severe storm',
 'Cleaning a tank',
 'Collecting aquarium specimens',
 'Pacific Seafarer of US Navy',
 'Ocean racing',
 'Hand lining for shad',
 'Collecting shells',
 'Holding shark on leader & dangling it above the water',
 'Helping angler land a shark',
 'Pulling raft out to ride to shore',
 'Portuguese Airliner with 9 people aboard went down.',
 'ship M.V. Rizal sank during typhoon',
 'Gigging for flounder',
 'Pulling hooked salmon to boat',
 'Pulling anchor',
 'Dragging stranded shark ashore',
 'Columbian petrol barge Rio Atrato burned and sank',
 'Working prawn net',
 'Dragging banana seeds through the shallows',
 'Cleaning hull of ship',
 'Slapped shark on tail as it swam by',
 '"Climbing up to ship after repairing the stern in water"',
 'Boat stopped to repair electric pump',
 'Placed hand in disemboweled shark\x92s jaws',
 'Attempting to net shark in shark channel',
 '3 men & 2 boys picked up wearing life jackets and with inner tube',
 'Climbing back on ship',
 'Boating',
 'Attempting to set underwater endurance record',
 '"Flying Tiger" transport plane went down with 5 men onboard',
 'Crossing the bay at the ford',
 'Grabbed shark & threw it on deck',
 'Crouching in the water',
 'Crabbing',
 'Landing hooked shark in boat',
 'Went over side of boat at trochus ground',
 'Bitten while cutting shark from net',
 'Boat exploded',
 'Went to aid of child being menaced by the shark',
 'Body found on deserted luxury yacht, 38\x92 Christine',
 'Swept off deck of S.S.Frontenac enroute from West Indies to US',
 'Survived crash of two-engine  C-46 transport plane carrying 62 migrant workers from Puerto Rico to USA',
 'Defecating in water beneath the docks',
 'Bending over',
 "Lying on the bottom of a 16' dinghy",
 'Examining netted shark, that had been shot',
 'Lifesaving exhibition',
 'Treading water, waiting for a wave',
 'Leicester abandoned in a hurricane',
 'Bringing hooked, harpooned shark onboard boat',
 'Attempting to ride a shark',
 'American cruiser Indianapolis torpedoed & sunk by the Japanese submarine I-58',
 '90 European civilians, many women & children, were placed on the deck of a Japanese submarine that submerged when it was well offshore',
 'USS Gambier Bay CVE-73  shelled & sunk  at 09h57 on 10/24/1944, by Japanes fleet enroute to attack the Allied landing force at Leyte.',
 'Parachuted into Pacific',
 'Japanese POW ship Arisan Maru with 1800 American prisoners of war on board bound for slave labor camps was torpedoed by an American submarine',
 'The Cuban freighter Libertad was torpedoed and sunk by the German submarine U-129',
 'The 6711-ton American freighter & troop transport Cape San Juan was torpedoed by the Japanese submarine I-21',
 'Treading water after survivng crash of the US Navy airship K-74 that was hit by the German submarine U-134',
 'S2N Navy scout plane went down, E.H. Almond & Lieut A.G. Reading in water',
 'Hospital Ship Centaur torpedoed & sunk by the Japanese submarine I-177',
 'ship torpedoed 400 miles off the African coas. Man was clinging to hatch cover',
 'The 21,516-ton troopship Empress of Canada torpedoed and sunk by the Italian submarine Leonardo da Vinci',
 'The 3540-ton Alfonso Penna was torpedoed & sunk by the Italian submarine Barbarigo',
 'Known as The Battle of the Bismarck Sea :  8 Japanese destroyers guarding a convoy of 8 transports were attacked by 129 Allied fighters, 207 bombers & 3 squadrons of the Royal Australian Air Force.',
 'The USS Wahoo torpedoes & sank the Japanese troop transport Buyo Maru',
 'U-177 torpedoed & sank the troopship Nova Scotia',
 'In rubber dinghy with Captain Eddie Rickenbacker for 21 days.',
 'Dutch merchant ship Zaandam torpedoed  by the U-174 amidships, sank & dozens of survivors took to rafts & boats. One man, Izzi, who drifted 83 days on a raft related that sharks attacked many men in the water when the ship went down',
 'The 6015-ton British ship Empire Avocet was torpedoed by the German submarine U-125.',
 'The SS Potlach was torpedoed & sunk by the U-153 on 27-Jun-1942.',
 'Sculling',
 'A 210-ton brig was sunk by a Japanese submarine. Some of the survivors were machine-gunned & some were taken by sharks',
 'Plane crashed in water, men in life raft',
 'On life raft tethered to lifeboat. A seaman put hand over side to rinse a cup',
 'Esso Bolivar was torpedoed & shelled by the German submarine U-126',
 "Captured Allied soldiers were squeezed into 3' bamboo pig baskets & fed to waiting sharks",
 'Plane forced down, 3 men on rubber life raft. Put hand over side to feel drift of boat',
 "Days before the surrender of Singapore, the 3 men escaped to Sumatra where they acquired a 17' dinghy. After 125 days at sea they drifted back to Sumatra",
 'Torpedoed & burning British  light cruiser with a crew of 450 men',
 'HMAS Parramatta torpedoed & sunk by the U-559',
 'British cruiser Dunedin torpedoed & sunk by the U-124',
 'German raider Kormoran was sunk in an engagement with HMAS Sydney',
 'SS Ethel Skakel foundered in Central America Hurricane of 1941',
 'The troopship Britannia was sunk by the German raider Thor',
 'Seine netting',
 'Slipped off rocks and fell into the water',
 'male',
 'Japanese freighter Bokuyo Maru burned & sank',
 'Scooping prawns',
 'The schooner Elizabeth, bound from Bluefields, Nicaragua to the river port of San Carlos foundered',
 'Watching seine netters with friends, one of whom picked up a netted shark',
 'Tzenny Chandris, a Greek freighter laden with scrap iron, foundered in heavy weather',
 'Pleasure boating',
 "Holding shark's tail",
 'Touching the mouth of a supposedly dead shark',
 'Put foot inside a landed & supposedly dead shark',
 'Put foot inside mouth of supposedly dead shark',
 'Hauling in net with shark in it',
 'Splashing in water',
 'Hurricane & Tidal Wave',
 'Catching a turtle',
 'Gaffing & attempting to bring onboard a harpooned shark',
 'Removing shark from a trap',
 'Fell from wharf into water & attacked immediately',
 'Retrieving meat from a cage in the water',
 'The steamer Tahiti collided with the ferry Greycliffe',
 'Italian liner Principessa Mafalda sank',
 'Riding horseback across the creek',
 'Feeling the shark\x92s teeth',
 'British patrol boat 1250-ton HMS  Valerian foundered in a hurricane',
 'Shark hoisted on board liner Tahiti',
 'Inebriated, woke from sleep and fell off deck into the water',
 'Removing shark from a net',
 'Dry shelling',
 'Dismantling cable buoys of the cable ship All America',
 "Fell from his father's back into the water",
 'Harpooned shark',
 'Knocked into the water',
 'Stuffing a shark into an automobile',
 'Ship Mariston torpedoed & sunk',
 'Taking wife to beach & about 1 m from the shore',
 'S.S. Ramos foundered in a hurricane. Captain & 14 crew in water-logged lifeboats.',
 'Boat swamped',
 'Hauling in net',
 '3-masted steel barque Glenbank foundered during a cyclone',
 'Fell from the jetty',
 'The 168-ton Belmore foundered in heavy seas',
 'The British steamer Caribbee foundered',
 '.',
 'native boats sunk in storm',
 'Shooting sharks',
 'The schooner Tahitienne foundered in a hurricane',
 'Harpooning turtles',
 'Suicide',
 'Catching crabs',
 'Fell oveboard',
 'The cutter Francis Adams foundered',
 'Trailing hand in the water',
 'Loss of the schooner Nomad',
 'Angling',
 '"Boat accident"',
 '"Crossing the river"',
 'Fell from yardarm of British ship Rover',
 'Abandoning burning steamship Don Juan',
 'HMS Victoria collided with the HMS Camperdown',
 'His balloon crashed in the harbor',
 'Murdered',
 'Riding a horse',
 'Fleeing across a river',
 'Treading for clams',
 'Cleaning the side of a ship',
 'Working on the bridge when he fell into the river',
 'The steamships Thingvalla and Geiser collided',
 'The Dwarka foundered',
 'Crossing the river mouth',
 'Fell oveboard from steamer Wanderer',
 'Crossing inlet in a boat, seen fighting sharks with his oar, sharks smashed boat',
 'The passenger ship Kapuna was run down the ore carrier Ada Melmore',
 'Netting menhaden, sharks caught in net',
 'Oystering',
 'yachting accident',
 'Restraining a beached shark',
 'Traveling by boat',
 'Escaping from blackbirding vessel',
 'Burning of the S.S. Missouri',
 'A junk foundered',
 'boat from the Austrian ship Elizabeth',
 'Painting a ship',
 'Boarding a ship',
 'Dragging a shark',
 'Coming ashore on a hawser',
 'Reaching for life preserver',
 'Launching a boat',
 'Trying to catch a wounded bird',
 'Boat of a Hawaiian brig was stove in by  whale',
 'Deserting the bark Nazarene',
 'In boat being towed by ship, Karnak',
 'ship William Penn grounded & broke apart',
 'Hilo',
 'Harassing a shark',
 'Unknown, but it was said to be the "First known attack in Sydney Harbour"',
 'Hooking into a whale',
 'HBM Magpie foundered in a squall',
 "a corsair's boat was overturned",
 'Ship lay at anchor & man was working on its rudder',
 'yachtsman in a zodiac',
 'Attempting to drive shark from area',
 'Crossing river on a raft',
 'Lashing logs together when he fell into the water',
 'A group of survivors on a raft for 17-days',
 'Carrying a supposedly dead shark by its mouth',
 'Spent 8 days in dinghy']

In [36]:
len(list(sharks.Activity.unique()))

325

In [37]:
#hacer una nueva columna booleana "boat" 1 = el tibruón ataca a embarcación. 0 = tiburón ataca persona en agua.
#incluir datos que de Type == Boat
sharks[(sharks["Type"] == "Boat")]
#también incluir datos que Type != de Boat pero en activity estuvieran pescando y en injury "No injury to occupants"
#sharks[["Type","Activity","Injury"]][(sharks.Type != "Boat")&(sharks.Activity.str.contains("(\s|^)[Ff](ishing|ISHING).*",regex = True))]
sharks[(sharks["Type"] == "Boat")|((sharks.Type != "Boat")&(sharks.Activity.str.contains("(\s|^)[Ff](ishing|ISHING).*",regex = True)))]

<ipython-input-37-2504f9a387e7>:6: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  sharks[(sharks["Type"] == "Boat")|((sharks.Type != "Boat")&(sharks.Activity.str.contains("(\s|^)[Ff](ishing|ISHING).*",regex = True)))]

,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal,Time,Species,Year_D,Month_D
0,Boat,USA,California,"Oceanside, San Diego County",Paddling and similars,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,2018,Jun
7,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing and similars,M,52,Minor injury to foot. PROVOKED INCIDENT,N,UNKNOWN,"Lemon shark, 3'",2018,May
23,Unprovoked,MALDIVES,Alifu Alifu Atoll,Madoogali,Fishing and similars,M,32,5-inch cut to hand,N,21h50,Tiger shark,2018,Apr
85,UNKNOWN,SAMOA,Upolu Island,Nofoalii,Fishing and similars,M,UNKNOWN,Injuries to hands and legs,N,Night,UNKNOWN,2017,Sep
86,Boat,AUSTRALIA,Westerm Australia,Esperance,Fishing and similars,X,UNKNOWN,"sharks rammed boats, no injury to occupants",N,UNKNOWN,"White shark, 3.5m",2017,Sep
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6283,Unprovoked,USA,Florida,"Gadsden Point, Tampa Bay",Fishing and similars,M,UNKNOWN,2-inch lacerations,N,UNKNOWN,UNKNOWN,1921,UNKNOWN
6289,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing and similars,M,UNKNOWN,"FATAL, body not recovered but shark was caught...",Y,UNKNOWN,UNKNOWN,1913,Jul
6293,Unprovoked,AUSTRALIA,UNKNOWN,UNKNOWN,Fishing and similars,M,UNKNOWN,"FATAL, knocked overboard by tail of shark & ca...",Y,UNKNOWN,Blue pointer,1906,UNKNOWN
6294,Unprovoked,AUSTRALIA,UNKNOWN,UNKNOWN,Fishing and similars,M,UNKNOWN,FATAL,Y,UNKNOWN,Blue pointer,1906,UNKNOWN
6295,Unprovoked,AUSTRALIA,UNKNOWN,UNKNOWN,Fishing and similars,M,UNKNOWN,FATAL,Y,UNKNOWN,Blue pointers,1906,UNKNOWN

In [38]:
#me gustaría hacer una columna que solo pusiera "boat" e incluir un 1 por toods lso type = Boat
    #también incluir todos los #activity == fishing and similars
#para ver los tipos de

## species

In [39]:
len(list(sharks.Species.unique())) #1493
sharks.Species = sharks.Species.str.strip()

In [40]:
sharks["Species_02"] = sharks["Species"].str.replace(".*[Uu](NKNOW|nknow).*","UNKNOWN",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Ww](HITE|hite).*","White",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Tt](iger|IGER).*","Tiger",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Ll](emon|EMON).*","Lemon",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Bb](UL|ul).*","Bull",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Nn](URSE|urse).*","Nurse",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Ss](pin|PIN).*","Spinner",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Hh](ammer|AMMER).*","Hammerhead",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Ll](UE|ue).*","Blue",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Mm](ako|AKO).*","Mako",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Bb](lacktip|LACKTIP).*","Blacktip",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Ww](obbegong|OBBEGONG).*","Wobbegong",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Rr](eef|EEF).*","Reef",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Bb](ronze|RONZE).[Ww](haler|HALER).*","Bronze whaler",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Rr](agged|AGGED).*","Raggedtooth",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Ss](and|and).*","Sandbar",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Gg](R(A|E)Y|r(a|e)y).*","Grey",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Ww](HALE|hale)\s.*","Whale",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Zz](ambe|AMBE).*","Zambesi",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Bb](LACK|lack).[T|t].*","Blacktip",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*\d.*","UNKNOWN",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Uu](niden|NIDEN).*","UNKNOWN",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Ss](mall|MALL)\s.*","UNKNOWN",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Ll](ittle|ITTLE)\s.*","UNKNOWN",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Jj](uvenile|UVENILE).*","UNKNOWN",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Yy](oung|OUNG).*","UNKNOWN",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Ll](ARGE|arge).*","UNKNOWN",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Uu](NKNOW|nknow).*","UNKNOWN",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Rr](ecover|ECOVER).*","UNKNOWN",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Ss](chool|CHOOL).*","School",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Pp](ack|ACK)\s.*","School",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Nn](UMBER|umber).*","School",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Ss](EVERAL|everal).*","School",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Ss](hark|HARK).*","Other",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Cc].\s.*","Other",regex = True)
sharks["Species_02"] = sharks["Species"].str.replace(".*[Ss](hovel|HOVEL).*","Other",regex = True)
#sharks["Species"] = sharks["Species"].replace("''","UNKNOWN",inplace = True)

#Wobbegong

In [41]:
prueba = pd.DataFrame(sharks.Species.value_counts())
prueba

                                                    Species
UNKNOWN                                                2817
White shark                                             162
Tiger shark                                              74
Bull shark                                               51
6' shark                                                 40
...                                                     ...
Tiger shark, 4 m [13'] ?                                  1
Shortfin mako shark, 3 m to 3.4 m [10' to 11']            1
Miami, a 60 cm blacktip  shark and two 60 cm ba...        1
Thought to involve a white, bull or tiger shark           1
Said to involve a grey nurse shark that leapt o...        1

[1411 rows x 1 columns]

In [42]:
list(sharks.Species.unique())

['White shark',
 'UNKNOWN',
 '2 m shark',
 'Tiger shark, 3m',
 'Tiger shark',
 "Lemon shark, 3'",
 "Bull shark, 6'",
 'Grey reef shark',
 'Tawny nurse shark, 2m',
 'Shark involvement not confirmed',
 'Questionable',
 '3 m shark',
 'White shark, 3.5 m',
 'White shark, 2.5 m',
 "6' shark",
 'Juvenile bull shark',
 'Bull shark',
 "Tiger shark, 12'",
 'Wobbegong shark',
 '3.5 m shark',
 '1.8 m shark',
 'Blacktip shark',
 'Juvenile white shark,  2.7 to 3.2 m',
 'Bull shark, 2 m',
 'Galapagos shark?',
 'Bull shark, 3 m',
 'Grey reef shark. 2 m',
 'small shark',
 'Wobbegong shark?',
 'Juvenile nurse shark',
 "Nurse shark. 5'",
 'Tiger shark, female',
 'Some drowned but other may have been killed by blue sharks',
 'White shark, 4.6 m',
 'Cookiecutter shark',
 'Wobbegong shark, 1 m',
 'White shark, 4.5 m',
 'Spinner shark, 4 to 5 feet',
 'Tiger shark, 8 to 10 feet',
 "8' shark",
 "5' shark",
 "4' to 5' shark",
 'Porbeagle, 1.5 m',
 'White shark, 3.5m',
 "5' to 6' shark",
 'White shark, 3 to 3.5m',
 'Nurse shark',
 'White shark, 3 m',
 "White shark, 5' to 7'",
 'Possibly a juvenile blacktip shark',
 'Oceanic whitetip shark, 1.8 to 2 m',
 "4' shark",
 "White shark, 10'",
 "Sandtiger shark  2'",
 "Blue shark 6'",
 '"A small shark"',
 "White shark, 11' to 13'",
 "White shark, 8' to 10'",
 "White shark, 9'",
 "Bull shark, 4' to 5'",
 'Tiger shark, 100 kg',
 'Bull shark, 2m',
 'White shark, 4 m',
 'Seven-gill shark',
 '3m shark, probably a smooth hound',
 "3' shark",
 "9' shark",
 "Bull shark, 5' to 7'",
 "10' shark",
 'Lemon shark',
 'Bull shark, 1.5',
 'Lemon shark pup',
 "White shark, female, 14'",
 'Caribbean reef shark',
 'Bull shark, 4 m',
 'Bull shark, 1 m',
 'a small shark',
 'Wobbegong shark, 2m',
 'Broadnose sevengill shark, 1.5 m',
 "6' to 8' shark",
 "3' to 4' shark",
 "Tiger shark, 10'",
 'Bull shark, 3.5 m',
 'Blue shark',
 "Nurse shark, 4'",
 'reef shark, 1m',
 "White shark, 10' to 12'",
 "Lemon shark, 9'",
 'Angel shark',
 'dogfish shark',
 'Tawny nurse shark',
 "Caribbean reef shark, 4.5'",
 "3' to 5' shark",
 '3+ m shark',
 'Mako shark',
 'Bronze whaler sharks x 3',
 "Blacktip shark, 4'",
 "Nurse shark, 2'",
 "Mako shark, 1.5 m [5']",
 'Grey reef shark, 2 m',
 "Bull shark, 7'",
 'Tiger shark, 2.5 m',
 'Nurse shark, 2.5-ft',
 'Bronze whaler',
 'Sandtiger shark',
 "Reef shark, 5'",
 'Bull sharks x 2',
 "Tiger shark, 14'",
 "Silky shark, 6.5'",
 "Bronze whaler shark, 6'",
 'Tiger shark, 1.5 m',
 'Galapagos shark',
 "Spinner shark, 7'",
 'Bull shark, 2.8 to 3.1 m',
 "Spinner shark, 5'",
 "Tiger shark, 7'",
 'Hammerhead sp.',
 "Tiger shark, 13'",
 "Blacktip shark, 4' to 5'",
 "Blacktip shark, 5' to 6'",
 "White shark, 19'",
 'juvenile shark',
 'Hammerhead shark',
 "White shark, 11' to 12'",
 'Hammerhead shark.',
 "4' shark?",
 "White shark, 13'",
 "Hammerhead shark. 6' to 7'",
 "Blacktip or spinner shark, 4'",
 'White shark, 3.9 to 4.2 m',
 'Mako shark, 100-lb',
 'Bronze whaler shark, 1.5m',
 "White shark, 7'",
 "6' to 7' shark",
 'White shark, 2m to 3 m',
 "Bull shark, 5'",
 'small nurse shark',
 'Bull shark, 2.5 m',
 '1m to 1.2 m shark',
 '3- to 4-foot shark',
 'White shark, 6 m',
 'Blue shark, 8 to 9 feet',
 'Tiger shark, 8 to 12 feet',
 'Blacktip Reef shark',
 'Tiger shark, 3.5 m',
 '3.5 to 4 m shark',
 '2 m to  3 m shark',
 'Bull shark, 1.3 m',
 '5 m shark',
 '1.5 m shark',
 'White shark or oceanic whitetip shark',
 'Raggedtooth shark, 1.3 m',
 'White shark, 4 to 5 m',
 'Shark involvement prior to death still to be determined',
 'Goblin shark',
 "2' shark",
 "12' to 14' shark",
 '1 m shark',
 "Bull shark, 3' to 4'",
 "White shark, 18' to 20'",
 "8' to 10' shark",
 '2 white shark: 13\' & 9"8"',
 "7' shark",
 "White shark, 12' to 14'",
 'Spinner shark',
 'Spinner shark or blacktip shark',
 "4' to 6' shark",
 "Bull shark, 4.5'",
 'reef shark',
 "Bull shark, 8'",
 "Bull shark, 9' to 10'",
 "4' tp 5' shark",
 'Possibly juvenile tiger shark',
 '1.8 metre shark',
 "Oceanic whitetip shark'",
 "Caribbean reef shark, 7' to 8'",
 'Lemon shark, 3.5 m',
 "Sandbar shark, 3' to 4'",
 'Bull shark, 1.2m',
 '3m shark',
 'Tawney nurse shark, 1m',
 "white shark, 15'",
 'Cow shark',
 'reef shark?',
 'Raggedtooth shark, 2m',
 '3 m to 4 m white shark',
 'Blacktip or spinner shark?',
 'Blacktip reef shark',
 '7-gill shark?',
 '1m shark',
 '7-gill shark',
 'Oceanic whitetip shark',
 'Reported to involve a bull shark',
 'White shark, 3m',
 "Tiger shark, 10' to 12'",
 'Wobbegong shark, 1.6 to 1.8m',
 'Thought to involve a white shark',
 "White shark, 10 '",
 'Reported to involve a white shark',
 'Blacktip reef shark, 1m',
 'Thought to involve a bull shark',
 'Reported to involve a 4 m white shark',
 "Whitetip reef shark, 4' to 6'",
 'Nurse shark?',
 'Small bull shark',
 'Salmon shark',
 "Mako shark, 5'",
 'Tiger shark?',
 "Bull shark, 6' to 8'",
 "Tiger shark, 8' to 10'",
 "Possibly a Bull shark, 3'",
 "Lemon shark, 4'",
 'Wobbegong, 2m',
 'Grey nurse shark, 3m',
 'Possibly a blacktip reef shark',
 'Raggedtooth shark, 1.5 m',
 'Tiger shark, 4.8 m',
 'Bronze whaler shark, 2.5m',
 '"small sharks"',
 'White shark, 4m',
 'White shark, 5m',
 "Tiger shark, 15'",
 'Bronze whaler shark, 3m',
 '2.5 m shark',
 "Tiger shark, 6'",
 "2' to 3' shark",
 "Tiger shark, 8'",
 "White shark, 15' to 16'",
 '2m shark',
 'Possibly a 3 m bull shark',
 "3.5' to 4' shark",
 "Porbeagle shark, 7'",
 '4.5 m shark',
 "Lemon shark, 4' to 5'",
 'Lemon shark, 2.5m to 3m',
 'White shark or bronze whaler',
 "14' to 18'shark",
 "15' shark",
 'possibly a bull shark',
 'a small reef shark',
 'small blacktip shark?',
 'Blue shark, 2.5m',
 'White shark, 2 m',
 '18" to 24" shark',
 'Bull shark, 3m',
 "Tiger shark, 8' to 9'",
 'White shark, 4 m to 5m',
 'White shark, 6m',
 'Possibly a bull shark',
 "Possibly a 5' to 6' bull shark",
 'Tawny nurse shark, 40cm',
 'Grey nurse shark',
 'White shark, 7m',
 'Blue shark, 70-kg blue shark',
 'White shark, 2.7 m',
 'Allegedly a 4 m tiger shark',
 "7' to 8' shark",
 'White shark, 2.5m',
 'Raggedtooth shark',
 "White shark, 15'",
 'Port Jackson shark, 1m',
 "10' to 12' shark",
 '2 to 2.5 m shark',
 'Tiger shark, 2m',
 "6' shark, possibly a blactip or spinner shark",
 "White shark, >6'",
 "Possibly a 5' to 6' sandtiger shark",
 '4 m shark',
 'White shark, 3m to 4m',
 'Bull shark, 3m female',
 "White shark, 5' k",
 "Oceanic whitetip shark, 7'",
 "Sevengill shark, 6' to 8'",
 'Zambesi shark',
 'Tiger shark, 2.8m',
 "Sandbar shark, 8'",
 "Bull shark, 12'",
 'reef shark, 1.5m',
 "1' to 2' shark",
 'possibly a bronze whaler shark',
 'Blacktip shark pup',
 'Bull shark, 2.5m',
 '3 m to 4 m shark',
 'White shark x 2',
 'Oceanic whitetip shark, 2.5m',
 'Oceanic whitetip shark, 2.5m, female',
 "Porbeagle shark, 8'",
 "White shark, 14' to 18'",
 'Bull shark, 1.4m',
 "Possibly a 6' lemon shark",
 'Possibly a small blacktip shark',
 "Sandtiger shark, 4' to 5'",
 'A small spinner shark',
 'Nurse shark, juvenile',
 "Blue shark, 7'",
 '20 to 30kg shark',
 "Lemon shark, 6'",
 "14' shark",
 "Oceanic whitetip shark, 6'",
 'Possibly a blue shark',
 'Wobbegong shark, 1.6m',
 '2 m to 3 m shark',
 "Spinner shark, 6'",
 'Thought to involve a juvenile hammerhead shark',
 'Whitetip reef shark, 1m',
 'Zambesi shark, 2m',
 'White shark, 2.8 to 3 m',
 "Sandtiger shark, 8'",
 'Thresher shark',
 "Bull shark, 10'",
 'Spurdog',
 "White shark, 5' to 6' juvenile",
 'White shark, 2m',
 'Tiger shark, 12',
 'Bull shark?',
 "Caribbean reef shark, 6'",
 "Nurse shark, 6'",
 'Thought to involve a Bronze whale shark, 2m',
 'Oceanic whitetip shark, 2.5 to 3m',
 '80 kg shark',
 "5' to 8' shark",
 'blacktip or spinner shark',
 "White shark, 12' to 15' female",
 'Bronze whaler shark?',
 'Blacktip reef shark pup',
 'Thought to involve a cookie cutter shark',
 'Wobbegong shark, 60cm',
 'Blue shark, 1m',
 '2.6 m shark',
 'Bull shark, 2.7 m',
 "White shark, 12'",
 'White shark, 5.5 m',
 'White sharks',
 'Dusky shark, 2m',
 'Mako shark, 3m',
 'Broadnose sevengill shark',
 'White shark, 4m to 5m',
 '4 to 5m white shark',
 'White shark, 4.5 to 5 m',
 'Zambesi shark?',
 'Bronze whaler shark',
 'reef shark, 1.8m',
 '5 m white shark',
 "+3' shark",
 "2' to 3' juvenile shark",
 "White shark, 14' to 16'",
 "8' bull shark or Caribbean reef shark",
 "8' white shark or 7-gill shark",
 "3'  shark",
 "2'  shark",
 "2' to 3' reef shark",
 'Starry smoothhound shark, 1m',
 "Bull shark, 6' to 7'",
 'White shark, 4.5m',
 "4.5 to 5' shark",
 'Basking shark',
 'Tiger sharks in area',
 '2 small bull sharks',
 'Bull shark, 1.8m',
 "White shark, 12' to 15'",
 'Tiger shark, 2.3m',
 "1.5' to 2' shark",
 "2.5' shark",
 'A bull shark, according to some of the divers on the boat',
 "Goblin shark, 4.2'",
 'Blacktip shark, 2m',
 'Mako shark, 90kg',
 'Bronze whaler shark, 4m',
 "Nurse shark, 10'",
 'Possibly a hammerhead shark',
 '"a small shark"',
 '2.27 m shark',
 '1.5 to 2 m shark',
 "Blacktip shark, 5'",
 'Oceanic whitetip sharks were in the vicinity',
 'Gray reef shark',
 "9.5' shark?",
 "Nurse shark, 2' to 3'",
 'Possibly a spinner shark',
 'Sand shark',
 "Possibly a 6' bull shark",
 '',
 "Possibly a 10' bull shark",
 'Bronze whaler shark, 1.5 m',
 "3' small spotted catshark, Scyliorhinus canicula",
 "Lemon shark, 6' female",
 'A 10-year-old 94-pound pregnant blacktip reef shark',
 'Lesser spotted dogfish, Scyliorhinus canicula, less than 80 cm in length',
 'Lemon shark, >1 m',
 '2.4 m shark',
 "6' to 8' shark, possibly a tiger shark",
 '2.5 to 3 m shark',
 '2 to 3 m shark',
 'Raggedtooth shark, 150-kg',
 'Bull shark, 1.5m',
 "White shark, 16'",
 "1' to 4' shark",
 "3' to 3.5' shark",
 'small catsharks',
 'White shark?',
 'Angel shark, 1.2m',
 'Bull or tiger shark',
 "5' to 6' spinner or bull shark",
 '1.8 m blacktip "reef" shark',
 "Possibly a 1' to 3' blacktip or spinner shark",
 "14' white shark",
 "Tiger shark, 8' to 12'",
 "Tiger shark, 15' female",
 "Grey reef shark, 5' to 8'",
 'Wobbegong shark, 2 m',
 "Bull shark, 4' to bull shark",
 'Bronze whaler shark, a  juvenile',
 'Raggedtooth shark, 2.5 m to 3 m',
 '3 m, 600-kg shark',
 "Tiger shark, 5'",
 'Bronze whaler shark, 2 m',
 "5' to 7' shark",
 '4.5 m white shark',
 "12' to 18' shark",
 "12' shark",
 '3.5 m white shark',
 'Said to involve a 1.5 m shark',
 'Whitetip reef shark',
 '4 m white shark',
 '3 m white shark',
 'Raggedtooth shark, 2.5m',
 "12' to 14' white shark",
 "18' white shark",
 "Tiger shark, less than 10'",
 'Caribbean reef sharks',
 'Tiger shark, 3 m',
 "14' to 16' white shark",
 "4 m [13'] white shark",
 "2 m [6.75'] shark, 200-kg shark T",
 'juvenile white shark',
 'Possibly a sandbar shark or small blacktip shark',
 "1.8 m [6'] shark",
 "3.5 m [11.5']shark",
 "[4.5' to 5'] shark",
 "[4' to 5']",
 "1.8 m [6'] bull shark",
 'On 8/13/2005 anglers from New Zealand caught a 2.8 m [9\'3"], 140-kg [309-lb] shark at the same spot. It was believed this was the same shark that killed Alysha',
 'Unknown, but it was reported that a shark tooth was recovered from the wound',
 "3 m [10'] white shark",
 '"small shark"',
 '18" to 36" shark',
 "Tiger shark, 3 m [10']",
 "2 m [6.75'] copper shark",
 "1.8 m [6'] blacktip shark",
 'small hammerhead shark',
 "4 m [13'] shark",
 "6 m [20'] white shark",
 "Sandtiger shark, 2.1 m [7']",
 "Bronze whaler shark, 4.3 m [14']",
 "Nurse shark, 3'",
 "Tiger shark, 2.4 m [8']",
 "1.8 m [6'] Caribbean reef shark",
 "3 m [10'] shark",
 "Bronze whaler shark, 2 m to 3 m [6.75' to 10']",
 '4.5 m & 5 m white shark',
 "5.5 m [18'] white shark",
 "2.5 m [8.25'] bull shark",
 "2 m [6.75'] white shark",
 "Bronze whaler shark, 2.4 m [8']",
 "1.8 m to 2.4 m [6' to 8'] white shark",
 "Tiger shark, 2.4 m to 3.7 m [8' to 12']",
 "Raggedtooth shark, 1.5 to 2 m [5' to 6.75']",
 'Thought to involve a 2.5 m bull or tiger shark',
 "2.4 m [8'] shark",
 "0.9 m to 1.2 m [3' to 4'] white shark",
 "4.9 m to 5.5 m [16' to 18'] white shark",
 "1.2 m [4'] shark",
 "3 m to 4 m [10' to 13']  white shark",
 "1.2 m to 1.5 m [4' to 5'] shark",
 "Longfin mako shark, 3.5 m [11.5'], 350-kg [772-lb]",
 '2 sharks, 4.5 m & 3 m',
 '"black tipped" shark',
 '9\'2" white shark',
 "Bronze whaler shark, 2.5 m [8.25']",
 "0.9 m to 1.5 m [3' to 5'] shark",
 "2.4 m to 3.7 m [8' to 12'] shark",
 "1,5 m [5'] Caribbean reef shark (Carcharhinus  perezi)",
 "Mako shark, 1.8 m [6']",
 "Wobbegong shark, 1.2 m [4'] k",
 "White shark, 5.5 m [18']",
 'small sharks',
 "5 m [16.5'] white shark",
 "1.2 m [4'] bull shark",
 'bull shark',
 "Tiger shark, 2.4 m to 3 m [8' to 10']",
 "Bronze whaler shark, 1.5 m [5']",
 "2 m [6.75'] sevengill  shark",
 '60 cm [23.6"] blind or brown shark',
 "4 m to 5 m [13' to 16.5'] white shark",
 'Possibily a  1.5 to 2 m sandtiger shark',
 'Bull shark, 1.65 m [5\'5"] was speared & killed',
 'Bull shark, 132-kg [291-lb]',
 "Mako shark, 3 m to 4 m [10' to 13']",
 "Raggedtooth shark, 3.5 m [11.5']",
 'Shortfin mako shark',
 "Wobbegong shark, 1.2 m [4']",
 "Tiger shark, 4 m [13']  ?",
 '2.5 oceanic whitetip shark',
 "Nurse shark, 60 cm to 90 cm [2' to 3']",
 "1.5 m [5'] shark, either a bronze whaler or a grey nurse shark",
 '1.2 m [4\'] "grey-colored shark"',
 '2 m cow shark',
 "4.5 m to 5.5 m [15' to 18'] white shark",
 "3.5 m [11.5'] white shark",
 'Unidentified species',
 "1.5 m to 1.8 m [5' to 6'] shark",
 "2.1 m  [7'] bull shark",
 "8' great hammerhead shark",
 "106 cm [3.5']  shark",
 '\x93small brown shark\x94',
 "3.7 m to 4.3 m [12' to 14'] shark",
 '"sand shark"',
 "1.8 m [6'] reef shark - or a 2.1 m to 2.4 m [7' to 8'] grey-colored shark",
 "0.9 m to 1.2 m [3' to 4'] shark",
 'A \x93small\x94 shark',
 '15 cm to 20 cm [6" to 8"] bite diameter just below left knee',
 "Mako shark, 3 m [10']",
 "60 cm [2'] captive shark",
 "2.5 m [8.25'] white shark",
 'Species unidentified',
 "Thought to involve a 2 m [6.75'] grey nurse shark",
 "Thought to involve a >2 m [6.75'] bull shark",
 'Reported to involve a hammerhead shark',
 'White shark, 4 m white shark',
 'Wobbegong shark, 1m',
 "3 m to 4.5 m [10' to 15'] white shark",
 "2.4 m to 3 m [8' to 10'] grey colored shark",
 "1.8 m to 2.1 m [6' to 7']\xa0 Caribbean Reef Shark",
 'Possibly a bull shark or tiger shark',
 'Blacktip or spinner shark',
 "3.5' to 4.5' shark",
 "1.2 m [4'] blacktip shark",
 "Tiger shark, 1.5 m [5']k",
 "3 m to 3.7 m [10' to 12'] shark",
 "1' to 2' hammerhead or bonnethed shark",
 "0.9 m  to 1.2 m [3' to 4'] shark",
 "Nurse shark, 1.5 m [5']",
 "Sandtiger shark, 3 m [10']",
 "1.2 m [4'] blacktip or sandbar shark",
 "Bull shark, 1.8 m to 2.1 m [6' to 7']",
 'Mako shark, 400-lb',
 "1.2 m to 1.5 m [4' to 5'] shark, possibly a bull shark",
 "Tiger shark, 2.4 m to 2.7 m [8' to 9']",
 "0.9 m to 1.2 m [3' to 4'] shark; Tooth fragment recovered from hand",
 "1.5 to 2.5 m [5' to 8.25'] copper shark",
 "3.7 m to 4.3 m [12' to 14'] white shark",
 '1 m  shark',
 "3' blacktip shark",
 "2.1 m to 2.4 m [7' to 8'] shark",
 "White shark, 6m [20']",
 'Bull shark, 400-lb',
 "0.9 m [3'] shark",
 'Nurse shark, 1m',
 "Spinner shark, 3' to 4'",
 '1.5 m [5\'] "whaler shark"',
 'C. leucas tooth fragment recovered from kayak',
 'Unidentified',
 "Tiger shark, 1.8 m [6']",
 "Mako shark, 2 m [6.75']",
 "2' to 3.5' shark",
 "12' sandtiger shark",
 'A large white shark was filmed by divers on a local wreck 2 days prior to the incident.',
 "1.5 m [5'] shark",
 "3 m [10'] bull shark",
 'Possibly  a blacktip or spinner shark',
 "3' shark, possibly  a blacktip or spinner shark",
 "1.9 m [6.5'] bull shark",
 "Mako shark, 14'",
 "0.9 m  [3'] shark",
 "Bull shark, 2.3 m [7.5']",
 "White shark, 2.4 m to 3 m [8' to 10']",
 "1.2 m to 1.5 m [4.5' to 5'] shark",
 "White shark, 2.7 m to 3 m [9' to 10']",
 'Possibly a juvenile blacktip or spinner shark',
 "Possibly a 1.5 m [5'] blacktip or spinner shark",
 '1 m shark, possibly whitetip reef shark',
 "White shark, 2.7 m [9']",
 "Spinner shark, 1.2 m to 1.5 m [4' to 5']",
 "White shark, 5 m [16.5']",
 "Bronze whaler shark, 2.5 m [8.25']  k",
 "2 m [6.75'] shark",
 "White shark, 4.3 m [14']",
 '1.8 m to 2.4 m [6\' to 8\'] "black finned shark"',
 "6 m [20'] shark",
 'White shark, 4.5 m [14\'9"]',
 "Porbeagle shark, 3 m [10']rk",
 'Tiger shark, 4 m',
 "1.2 m to 1.8 m [4' to 6'] shark",
 "White shark, 4.9 m [16']",
 "Tiger shark, 1.8 m to 2.4 m [6' to 8']",
 "2.1 to 2.4 m [7' to 8'] shark",
 "Blacktip shark, 2'",
 "White shark, 4 m to 5 m [13' to 16.5']",
 '100-kg [221-lb] dead blue shark',
 "60 cm to 90 cm [2' to 3'] shark",
 "White shark, 3.5 m [11.5']  male",
 'Thought to involve a Zambesi shark',
 "A 2' shark was seen in the area by witnesses",
 "Thought to involve a 2.7 m [9'], 400-lb bull shark",
 'Tiger shark, 3.7 m to 4.5 m [12\' to 14\'9"]',
 "Blacktip shark, 2.4 m to 3 m [8' to 10']",
 "1.8 m [6'] grey-colored shark",
 "Grey reef shark, 2 m [6.75']",
 "Lemon shark, 2.1  m to 2.4 m [7' to 8']",
 "Tiger shark, 0.9 m to 1.5 m [3' to 5'] ?",
 "Nurse shark, 1.2 m [4']",
 "0.9 m [3'] shark,  probably a blacktip or spinner shark",
 "Bull shark, 2.4 m [8']",
 "Blacktip shark, 1.2 m to 1.8 m [4' to 6']",
 'Tiger sharks & bull sharks (20 sharks in all)',
 "Tiger shark, 4 m [13'] ?",
 "2 m to 2.5 m [6.75'  to 8.25'] shark",
 "Shortfin mako shark, 3 m to 3.4 m [10' to 11']",
 'Miami, a 60 cm blacktip  shark and two 60 cm bamboo catsharks',
 'Sevengill shark',
 'Thought to involve a white, bull or tiger shark',
 "White shark, 3 m [10']",
 '1.3 to 1.6 m shark',
 "Grey reef shark, 1.2 m [4']",
 "Lemon shark, 2.7 m [9']",
 "Said to involve a 7 m [23'] white shark",
 "2.7 m [9']  bull shark or Caribbean reef shark",
 "White shark, 3 m to 5 m [10' to 16.5']",
 "Bull shark, 2.1 m [7']",
 "Blacktip shark, 1.8 m [6']",
 "White shark, 4 m [13']",
 "Tiger shark, 2.5 m [8.25']",
 'Grey reef shark, 1.5 m',
 '3 bull sharks',
 "Sevengill shark, 2.4 m [8']",
 '200 to 300 kg shark',
 'Mako shark, 1.3 m gaffed',
 "3.7 m to 4.6 m [12' to 15'] shark seen in the vicinity",
 'Bronze whaler or tiger shark',
 "White shark, 4.6 m [15']",
 'Possibly a white shark',
 'A "small shark"',
 "White shark, 5 m  to 6 m [16.5' to 20']",
 'Though to involve a white shark',
 "White shark, 5 m to 6 m [16.5' to 20']",
 "Dusky shark, 12'",
 "Caribbean reef shark, 1.2 m to 1.5 m [4' to 5']",
 "4.5' to 5' shark",
 'Sandtiger shark, 2 m, male',
 "Raggedtooth shark, 1.2 m [4']",
 'Thought to involve a 5.5 m white shark named Kong',
 "3 m to 4 m [10' to 13'] white shark",
 "Lemon shark, 1.5 m [5'], identified  by the surfer",
 "1.8 m [6'] shark, possibly a blacktip",
 "Nurse shark, 0.9 m [3']",
 "5' spinner shark",
 '1.7 m shark',
 'Small dusky shark or blackfin shark',
 'sandtiger shark',
 "Tiger shark, 4 m to 4.3 m [13' to 14']",
 'Possibly a blacktip shark',
 'Soupfin shark',
 'small blacktip shark',
 "Tiger shark, 5.2 m [17']",
 'Thought to involve an oceanic whitetip shark or a white shark',
 '"juvenile shark"',
 "Tiger shark, 2.7m  [9']",
 "1.2 m [4'] shark (spinner shark?)",
 'Possibly a sand shark',
 'Possibly a Caribbean reef shark',
 '3.7m  to 4.2 m white shark',
 'Tiger shark, 2m to 3m',
 "1.8 m to 2.1 m [6' to 7'] shark",
 'Tiger shark, 4.5 m [14\'9"]',
 "3 m to 5 m [10' to 16.5'] white shark",
 "5.5 m to 6 m [18' to 20'] white shark",
 '"a young shark"',
 "1.8 m to 2.1 m [6' to 7'] hammerhead shark",
 'said to involve an oceanic whitetip shark',
 "60 cm to 90 cm [2' to 3'] blacktip or spinner shark",
 'nurse shark',
 '"reef shark"',
 "Nurse shark, 0.9 m  [3']",
 'Possibly a tiger shark',
 "Mako shark, 4.3 m [14']",
 'Tiger shark, 300-kg [662-lb]',
 "1.2 m to 1.5 m [4' to 5']   shark",
 "1.5 to 1.8 m [5' to 6'] shark",
 "3 m to 3.7 m [10' to 12'] bull shark",
 '"sand" shark',
 "Two 1.2 m to 1.5 m [4' to 5'] sharks",
 'White shark (tooth fragment recovered)',
 "Tiger shark, 3.7 m [12']",
 'Though to involve a tiger shark',
 "3.7 m [12'] shark",
 'Leopard shark',
 "5 m to 5.5 m [16.5' to 18'] white shark",
 "Raggedtooth shark, 2.7 m [9']",
 "2.7 m [9'] shark",
 'Thought to involve a small sand shark',
 'Small shark',
 "3 to 3.5 m [10' to 11.5'] bull shark",
 "1.2 m [4'] spinner shark",
 "2.1 m [7'] shark",

In [43]:
len(list(sharks.Species.unique()))

1411

Hacemos que los datos sean más concretos en la columnas.

In [50]:
#creamos un sub dataframe con solo las colmunas que realmente necesitamos.
sharky = sharks[["Type","Country","Area","Activity","Sex","Age","Fatal","Species_02","Year_D","Month_D"]]

In [53]:
#exportarmos sharky
sharky.to_csv("data/sharks.csv")

In [46]:
#comprobamos que los registros que tienen como unknown area, location y Country
#sharks[(sharks.Country == "UNKNOWN")|(sharks.Country == "UNKNOWN")|(sharks.Country == "UNKNOWN")].sample(20)

In [48]:
sharks

,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal,Time,Species,Year_D,Month_D,Species_02
0,Boat,USA,California,"Oceanside, San Diego County",Paddling and similars,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,2018,Jun,White shark
1,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing/Sitting,F,11,Minor injury to left thigh,N,14h00 -15h00,UNKNOWN,2018,Jun,UNKNOWN
3,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surf and similars,M,UNKNOWN,Minor injury to lower leg,N,UNKNOWN,2 m shark,2018,Jun,2 m shark
4,Provoked,MEXICO,Colima,La Ticla,Diving and similars,M,UNKNOWN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,UNKNOWN,"Tiger shark, 3m",2018,Jun,"Tiger shark, 3m"
5,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Surf and similars,M,UNKNOWN,"No injury, board bitten",N,UNKNOWN,UNKNOWN,2018,Jun,UNKNOWN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving and similars,M,UNKNOWN,FATAL,Y,UNKNOWN,UNKNOWN,1903,UNKNOWN,UNKNOWN
6298,Unprovoked,AUSTRALIA,Western Australia,UNKNOWN,Diving and similars,M,UNKNOWN,FATAL,Y,UNKNOWN,UNKNOWN,1903,UNKNOWN,UNKNOWN
6299,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming and similars,M,UNKNOWN,FATAL,Y,UNKNOWN,UNKNOWN,1900,UNKNOWN,UNKNOWN
6300,Unprovoked,PANAMA,UNKNOWN,"Panama Bay 8ºN, 79ºW",UNKNOWN,M,UNKNOWN,FATAL,Y,UNKNOWN,UNKNOWN,1883,UNKNOWN,UNKNOWN
6301,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming and similars,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,UNKNOWN,UNKNOWN,1845,UNKNOWN,UNKNOWN