In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import regex as re
import misfunciones as mf

In [4]:
sharks = pd.read_csv("data/sharks.csv")

In [5]:
sharks

,Unnamed: 0,Type,Country,Area,Activity,Sex,Age,Fatal,Species_02,Year_D,Month_D
0,0,Boat,USA,California,Paddling and similars,F,57,N,White shark,2018,Jun
1,1,Unprovoked,USA,Georgia,Standing/Sitting,F,11,N,UNKNOWN,2018,Jun
2,3,Unprovoked,AUSTRALIA,New South Wales,Surf and similars,M,UNKNOWN,N,2 m shark,2018,Jun
3,4,Provoked,MEXICO,Colima,Diving and similars,M,UNKNOWN,N,"Tiger shark, 3m",2018,Jun
4,5,Unprovoked,AUSTRALIA,New South Wales,Surf and similars,M,UNKNOWN,N,UNKNOWN,2018,Jun
...,...,...,...,...,...,...,...,...,...,...,...
5750,6297,Unprovoked,AUSTRALIA,Western Australia,Diving and similars,M,UNKNOWN,Y,UNKNOWN,1903,UNKNOWN
5751,6298,Unprovoked,AUSTRALIA,Western Australia,Diving and similars,M,UNKNOWN,Y,UNKNOWN,1903,UNKNOWN
5752,6299,Unprovoked,USA,North Carolina,Swimming and similars,M,UNKNOWN,Y,UNKNOWN,1900,UNKNOWN
5753,6300,Unprovoked,PANAMA,UNKNOWN,UNKNOWN,M,UNKNOWN,Y,UNKNOWN,1883,UNKNOWN
5754,6301,Unprovoked,CEYLON (SRI LANKA),Eastern Province,Swimming and similars,M,15,Y,UNKNOWN,1845,UNKNOWN